
* {
    margin: 0;
    padding: 0;
    border: 0;
}

.background {
    position: relative;
    background-color: rgba(50,65,88,1);
}

.layer{
    position: relative;
}

.buffer {
    width: 100%;
    min-height: 20vh;
    background-color: #333b50;
  }

.page_1::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url("./images/Blue\ Personal\ Objects_edited_edited.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
} 

.page_2::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url("./images/work-station-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.page_3::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url("./images/summit-wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.page_5::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url("./images/study-wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.page_6::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url("./images/letter-wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

/* Section - 0 "Menu Bar" */

.menu-bar {
    background-color: rgba(255,255,255,0);
    font-family: "Avenir Light", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #7e8d9e;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.05);
    padding: 20px 0px;
}

.menu-options {
    width: auto;
    margin: auto 10px;
    background: transparent;
    color: inherit;
    border: none;
    box-shadow: none;
}

/* Section - 1 "Home" */

#page_1 {
    font-family: "Lulo", sans-serif;
    font-weight: 700;
    font-size: 65px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 150px 40px 150px 450px;
    color: white;
    letter-spacing: 10px;
    height: 100vh;
}

.title {
    margin: 2% 0
}

#sub_title {
    font-size: 24px;
    font-family: "Avenir Light", Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 4px;
    margin: 60px 0;
}

.title_color {
    color: #00a0d6;
}

.menu-options:hover {
    color: #FFFFFF;
}

/* Section - 2 "Professional - My Skills in Software Development" */

#page_2, #page_3, #page_4, #page_5, #page_6{
    height: 100vh;
    color: #bec7d5;
    font-family: "Avenir Light", Arial, Helvetica, sans-serif;
}

.pageContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-1 {
    font-family: "Lulo", sans-serif;
    font-size: 42px;
    letter-spacing: 4px;
    margin: 6% auto 2%;
}

.head-2 {
    color: #f6f6f7;
    font-size: 24px;
    margin: auto auto 3%;
}

.skill-container {
    width: 800px;
    margin-top: 20px;
    background-color: transparent;
    overflow: hidden;
}

.progress-bar {
    width: 0;
    height: 10px;
    background-color: #00a0d6;
    margin: 5px 15px 5px 0px;
    transition: width 0.5s ease-in-out;
}

.flex-container {
    display: flex;
    margin: 25px auto;
}

.flex-item {
    margin: 5px 50px 5px 0px;
    width: 100px;
    text-align: right;
}

.flex-percent {
    margin: 5px 50px 5px 0px;
    padding-left: 5px;
}